
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<p>USER UPDATE</p>
<form action="/userUpdate" method="post">
    <input type="text" name="userID" placeholder="id"><br>
    <input type ="email" name ="email" placeholder="new email"><br>
    <input type="text" name="userName" placeholder="new Name"><br>
    <input type="password" name="password" placeholder="write new password"><br>
    <button>UPDATE</button>
</form>

<p>HOUSE UPDATE</p>
<form action="/houseUpdate" method="post">
    <input type="text" name="houseID" placeholder="write house id"><br>
    <input type="text" name="street" placeholder="new street"><br>
    <input type="text" name="city" placeholder="new city"><br>
    <input type="text" name="prise" placeholder="new price"><br>
    <button>UPDATE</button>
</form>

</body>
</html>